@forward "staff/reset";
@forward "staff/fonts";
@forward "staff/vars";
@forward "staff/anim";

:root {
	font-size: 8px;
	font-family: var(--ff-main), serif;
}

html,
body {
	min-height: 100vh;
	min-height: 100dvh;
}

html {
	font-size: var(--fs-s);
	color: var(--text-primary);
}

body {
	margin: 0;

	background-color: var(--bg-main);
	color: var(--text-primary);

	background-image:
		radial-gradient(circle at 20% 30%, #14223b 0%, transparent 50%),
		radial-gradient(circle at 80% 70%, var(--bg-surface) 0%, transparent 50%);

	background-size: 200% 200%;

	animation: auroraGlow 20s linear infinite;
}
