@import "staff/reset";
@import "staff/fonts";
@import "staff/vars";
@import "staff/anim";

:root {
	font-size: 8px;
}

html,
body {
	min-height: 100vh;
	min-height: 100dvh;
}

html {
	color: var(--text-primary);
}

body {
	font: var(--ft-main);

	background: {
		color: var(--bg-main);
		image:
			radial-gradient(circle at 20% 30%, #14223b 0%, transparent 50%),
			radial-gradient(circle at 80% 70%, var(--bg-surface) 0%, transparent 50%);
		size: 200% 200%;
	}

	animation: auroraGlow 20s linear infinite;
}
