@use 'reset-css';
@use 'fonts' as *;

* {
    font-family: 'Gilroy', 'Arial', Times;
}

html {
    min-height: 100dvh;
    overflow: hidden;
    overflow-y: scroll;
    font-size: 8px;
}

body {
    width: 100vw;
    font-size: 2rem;
}
