:root {
	--bg-main: #0b0f19;
	--bg-surface: #161f30;
	--bg-surface-hover: #222e45;

	--text-primary: #f8fafc;
	--text-secondary: #94a3b8;
	--text-muted: #64748b;

	--accent-color: #38bdf8;
	--accent-hover: #7dd3fc;

	--border-main: 1px solid #222e45;
	--border-active: 1px solid var(--accent-color);

	--outline: 2px solid transparent;
	--outline-active: 2px solid var(--accent-color);

	--shadow-main: 0 10px 25px -5px rgba(0, 0, 0, 0.5), 0 8px 10px -6px rgba(0, 0, 0, 0.5);

	--gap-s: 1rem; // 8px
	--gap-m: 1.5rem; // 12px
	--gap-l: 3rem; // 24px
	--gap-xl: 4rem; // 32px

	--ff-main: 'Nimbus', Arial, Times;
	--ff-title: 'Nimbus', Arial, Times;
	--ff-subtitle: 'Nimbus', Arial, Times;

	--fs-s: 1.5rem; // 14px
	--fs-m: 2rem; // 16px
	--fs-l: 4rem; // 32px
	--fs-xl: 6rem; // 48px

	--fw-s: 300; // slim
	--fw-m: 300; // normal
	--fw-l: 600; // bold

	--ft-muted: var(--fw-s) var(--fs-s)/1.2 var(--ff-main);
	--ft-main: var(--fw-m) var(--fs-m)/1.2 var(--ff-main);
	--ft-title: var(--fw-l) var(--fs-xl)/1 var(--ff-main);
	--ft-subtitle: var(--fw-l) var(--fs-l)/1 var(--ff-main);

	--pg-width: 375px;
	--pg-gap: 75px;
}
